.academicsLayoutContainer {
  display: flex;
  height: 100%; /* Use % here as it's inside the main container */
}

.academicsMainContent {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  background-color: #f8fafc;
}